<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
    <div>
      <iframe src="/plugins/github-btn.html?user={{ site.author.github }}&repo={{ site.author.github }}&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
      <iframe src="/plugins/github-btn.html?user={{ site.author.github }}&repo={{ site.author.github }}&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
      <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/follow_button.1380141200.html#_=1380187285145&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=hacktoolkit&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 243px; height: 20px;"></iframe>
<iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.1380141200.html#_=1380187285142&amp;count=horizontal&amp;counturl=http%3A%2F%2Fhacktoolkit.com&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fhacktoolkit.com%2F&amp;related=jontsai%3ACreator%20of%20Hacktoolkit&amp;size=m&amp;text=Hacktoolkit%20the%20library%20for%20winning%2024-hour%20hackathons&amp;url=http%3A%2F%2Fhacktoolkit.com&amp;via=hacktoolkit" class="twitter-share-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 107px; height: 20px;"></iframe>
<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FHacktoolkit%2F507714549322068&amp;width=450&amp;height=46&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;send=true&amp;appId=1389584637938616" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:46px;" allowTransparency="true"></iframe>
    </div>

    {{ content }}
  </section>
</div>
